/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    padding: 0;
    background-color: #f0f0f0; 
	color: #333333;
}

h1{ 
	text-align:center;     /* centers h1 content */
	font-size: 3.5rem;
	color: #003366;
}

h2{ 
	text-align:center;     /* centers h2 content */
	font-size: 2.0rem;
	color: #003366;
}


footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #ff6600;
    color: #333333; 
    position: relative; 
    bottom: 0;
    width: 100%; 
	z-index: 10;
}

ul {
    margin: 0.5rem 0;
    padding-left: 1.5rem; 
	font-size: 1.5rem;
}

p{
	font-size: 1.5rem;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#ff6600;
	font-weight: bold;
	font-size: 150%;
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
}

.stepImage img {
    width:100%;
    height:auto;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;

}

strong {
  font-weight: 800;
}